.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h1 {
    font-weight: 400;
}

.header p-button:nth-child(1) {
    margin-right: 20px;
}

.p-card .p-card-content {
    padding: 1.25rem 0 !important;
}

.stat-cards {
    display: flex;
    justify-content: space-between;
}

.stat-cards p-card {
    width: 100%;
    margin-right: 20px;
}

.main-content {
    display: flex;
    margin-top: 20px;
    height: 300px;
}

.table-container {
    width: 100%;
}

.table {
    margin-top: 20px;
}

.table-topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.table-topbar-left p-button {
    margin-left: 20px;
}

.input-base {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.input-left {
    display: flex;
    justify-content: left;
    margin-top: 20px;
    align-items: center;
}
.input-left .p-element {
    margin-left: 20px;
}
.input-left label {
    margin-left: 8px;
}

.stepper-nav {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.fieldset .p-fieldset-content {
    padding: 0 !important;
}

.input-pass .p-input-text {
    width: 100%;
}