<div class="flex flex-col">
    <div class="p-4 border-b border-gray-400">
        <p class="text-gray-600">M.Tech Project Name</p>
        <p class="text-3xl font-medium">Sentiment Analysis on feedback using Customizable ERP Framework</p>
    </div>
    <div class="flex p-4 border-b border-gray-400">
        <div>
            <p class="text-gray-600">Developed By</p>
            <p class="text-lg">Sunil Bilur</p>
        </div>
        <div class="ml-8">
            <p class="text-gray-600">Project Guide</p>
            <p class="text-lg">Prof. Mahesh S. Salunkhe</p>
        </div>
    </div>
    <div class="p-4 border-b border-gray-400">
        <p class="text-gray-600">Research Paper</p>
        <p class="text-lg">Multi Tenant yet Customizable Cloud Native SaaS Web Application leveraging AIML Architecture and Strategies</p>
        <a href="https://ijaem.net/issue_dcp/Multi%20Tenant%20yet%20Customizable%20Cloud%20Native%20SaaS%20Web%20Application%20leveraging%20AIML%20Architecture%20and%20Strategies.pdf"
            class="underline">paper link</a>
        <a href="https://ijaem.net/issue_certificate/335096.pdf" class="ml-4 underline">certificate</a>
    </div>
    <div class="p-4">
    </div>
</div>