/* stack divs from .custom-header vertically when window is resized below 992px */
@media screen and (max-width: 992px) {
    .custom-header {
        flex-direction: column;
        border-bottom: none;
        border-top: none;
    }

    .header-title {
        padding: 0;
        border-bottom: 1px solid rgb(200, 200, 200);
        margin-bottom: 8px;
    }

    .header-btns {
        margin-left: 0;
    }
}
