<div>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" formControlName="username" required>
    </div>
    <div>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" formControlName="password" required>
    </div>
    <h3>Form status: {{loginForm.status}}</h3>
    <button type="submit" [disabled]="!loginForm.valid">Login</button>
  </form>
</div>