<div class="container">
    <div class="card">
        <div class="card-header">
            <p>Total Questions:</p>
            <p class="text-4xl">{{questionsList.length}}</p>
        </div>
    </div>
    <div class="card mt-0">
        <div class="card-header">
            <p class="mt-0">Total Tags : </p>
            <p class="text-4xl">{{questionsTagsList.tags.length}}</p>
        </div>
    </div>
    <!-- <div class="card">
        <div class="card-header">
            Most Questions Tag
        </div>
        <div class="card-block">
            <p class="text-xl font-normal">mtech_cse</p>
        </div>
    </div>
    <div class="card">
        <div class="card-header">Total Numbers</div>
        <div class="card-block">
            <p cds-text="headline">68</p>
        </div>
    </div> -->
</div>