<div class="container">
    <div class="card">
        <div class="card-block">
            <p cds-text="title">Total Questions</p>
            <p cds-text="headline">16</p>
        </div>
    </div>
    <div class="card">
        <div class="card-block">
            <p cds-text="title">Total Tags</p>
            <p cds-text="headline">4</p>
        </div>
    </div>
    <div class="card">
        <div class="card-block">
            <p cds-text="title">Most questions tag</p>
            <p cds-text="section" style="display: flex">mtech_cse</p>
        </div>
    </div>
    <div class="card">
        <div class="card-block">
            <p cds-text="title">Total Numbers</p>
            <p cds-text="headline">68</p>
        </div>
    </div>
</div>
