<div class="container">
    <div class="card">
        <div class="card-header">
            Total Questions
        </div>
        <div class="card-block">
            <p cds-text="headline">16</p>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            Total Tags
        </div>
        <div class="card-block">
            <p cds-text="headline">4</p>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            Most Questions Tag
        </div>
        <div class="card-block">
            <p class="text-xl font-normal">mtech_cse</p>
        </div>
    </div>
    <div class="card">
        <div class="card-header">Total Numbers</div>
        <div class="card-block">
            <p cds-text="headline">68</p>
        </div>
    </div>
</div>