.container {
    display: flex;
}

.card:not(:first-child) {
    margin-left: var(--cds-global-layout-space-lg)
}

@media (max-width: 992px) {
    .container {
        flex-direction: column;
    }

    .card {
        margin-left: 0 !important;
    }
    
}