.card-list-entries:first-child {
    margin-top: 0;
}

.card-list-entries {
    margin-top: 16px;
    cursor: pointer;
}

.card-list-entries .pri-entry-block {
    padding: 8px;
}

.pri-entry-block cds-icon[shape="drag-handle"] {
    cursor: grab;
}

.clr-form-control{
    margin-top: 0 !important;
}

.form-control-entry:first-child {
    margin-top: 0;
}

.form-control-entry {
    margin-top: 8px;
}

.horizontal-line {
    border-top: 1px solid rgb(200, 200, 200);
    width: 100%;
    margin-top: 20px;
}

.gray-box {
    background-color: rgb(215, 215, 215);
    border-radius: 5px;
    padding: 16px;
    width: 70%;
    margin-left: 16px;
}
