<div class="clr-row">

    <div class="clr-col-4">
        <!-- Primary entries card -->
        <div class="card">
            <div class="card-block">
                <div class="flex justify-between items-center">
                    <p cds-text="message">Primary Entries</p>
                    <button class="btn btn-sm btn-primary" (click)="addPriEntry()"><cds-icon shape="plus"></cds-icon>Add
                        Entry</button>
                </div>
            </div>
            <div class="card-block" dndDropzone (dndDrop)="onDrop($event, roleConfig.pri_nav, 'pri_entries_holder')"
                dndEffectAllowed="copyMove">

                <!-- Placeholder Ref -->
                <div class="card" dndPlaceholderRef></div>

                @if(roleConfig.pri_nav.length == 0) {
                <p cds-text="subsection" class="text-gray-600">No primary entries</p>
                }

                <!-- Primary entries list card -->
                <div class="card card-list-entries" *ngFor="let item of roleConfig.pri_nav; let i=index"
                    [dndDraggable]="item" dndEffectAllowed="move"
                    (dndMoved)="onDragged(item, 'start', roleConfig.pri_nav)" (click)="selectPriEntry(item)">
                    <div class="card-block pri-entry-block">
                        <div class="flex justify-between">
                            <div class="flex items-center">
                                <cds-icon shape="drag-handle" size="md"></cds-icon>
                                <clr-input-container class="form-control-entry">
                                    <label>Entry Name</label>
                                    <input clrInput (input)="setPriEntryName(priEntryRef.value)" #priEntryRef
                                        placeholder="Please add entry name" value="{{item.name}}" name="name" />
                                </clr-input-container>
                            </div>
                            <div class="flex items-center">
                                <button class="btn btn-sm btn-icon" (click)="deletePriEntry(i)">
                                    <cds-icon shape="eraser"></cds-icon>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="horizontal-line"></div>
        <div class="card-block">
            <button class="btn btn-info" style="width: 100%" (click)="saveChanges()">Save Changes</button>
        </div>
    </div>

    <div class="clr-col">
        <div class="card">
            <div class="card-block">


                <!-- Selected primary entry and route input -->
                @if(currentPriEntry === null){
                <h1 cds-text="section" style="color: gray">Please select a primary entry</h1>
                }@else {
                <div class="flex justify-between items-center">
                    <clr-input-container>
                        <label>Route of: {{currentPriEntry.name===''?'(null)':currentPriEntry.name}} </label>
                        <input clrInput placeholder="add entry name" value="{{currentPriEntry.route}}" />
                    </clr-input-container>
                </div>
                <div class="border-b border-gray my-3"></div>


                <div class="flex px-2">
                    <!-- Entry and menu card -->
                    <div style="width:30%">
                        <div class="card">
                            <div class="card-block my-2">
                                <div class="card card-list-entries" dndDraggable="entry">
                                    <div class="card-block">
                                        <p cds-text="section" class="text-center my-2 font-bold">Entry</p>
                                    </div>
                                </div>
                                <div class="card card-list-entries" dndDraggable="menu">
                                    <div class="card-block">
                                        <p cds-text="section" class="text-center my-2 font-bold">Menu</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="horizontal-line"></div>
                        <p cds-text="caption" class="mt-2 text-gray">
                            Drag and place these items in the gray box to the right
                        </p>

                        <div class="mt-8">
                            @if(currentSecEntry !== null)
                            {
                            <p class="text-[12px] text-gray-600">Selcted Entry</p>
                            <p class="text-sm">{{currentSecEntry.name}}</p>

                            <div class="mt-2">
                                <clr-input-container class="form-control-entry">
                                    <label>Route</label>
                                    <input clrInput placeholder="route name ..." (input)="setSecEntryRouteName($event)"
                                        value="{{currentSecEntry.route}}" />
                                </clr-input-container>
                            </div>

                            <div class="mt-4">
                                <clr-input-container class="form-control-entry">
                                    <label>Icon</label>
                                    <input clrInput placeholder="icon name ..." (input)="setSecEntryIconName($event)"
                                        value="{{currentSecEntry.icon}}" />
                                </clr-input-container>
                            </div>
                            } @else {
                            <p>(Select an entry to edit it's properties)</p>
                            }

                        </div>
                    </div>

                    <!-- Entries drag and drop area -->
                    <div class="bg-gray-200 rounded p-4 w-[70%] ml-4" dndDropzone
                        (dndDrop)="onDrop($event, roleConfig.sec_nav[currentPriEntry.route], 'sec_entries-holder')">
                        @if(roleConfig.sec_nav[currentPriEntry.route].length == 0)
                        {
                        <div class="bg-gray-200 rounded w-[70%]">
                            <p cds-text="subsection" class="text-gray-800">No secondary entries</p>
                        </div>
                        }

                        <!-- placeholder ref -->
                        <div class="card" dndPlaceholderRef></div>

                        <div class="card card-list-entries"
                            *ngFor="let item of roleConfig.sec_nav[currentPriEntry.route]; let i=index"
                            [dndDraggable]="item" dndEffectAllowed="move"
                            (dndMoved)="onDragged(item,'start',roleConfig.sec_nav[currentPriEntry.route])">

                            <div class="card-block" (click)="selectSecEntry(item)">
                                <!-- Top level entry or menu -->
                                <div class="flex">
                                    <cds-icon shape="drag-handle" size="md"></cds-icon>
                                    <form clrForm clrLayout="horizontal" style="padding: 0">
                                        <clr-input-container class="form-control-entry">
                                            <label>Name</label>
                                            <input clrInput value="{{item.name}}" (input)="setSecEntryName($event)" />
                                        </clr-input-container>
                                    </form>

                                    <span class="label {{item.type=='entry'?'label-info':'label-warning'}}"
                                        style="margin-left: 8px;">{{item.type}}</span>
                                    <button class="btn btn-sm btn-icon" (click)="deleteSecEntry(i)">
                                        <cds-icon shape="eraser"></cds-icon>
                                    </button>
                                </div>

                                <!-- If menu, render sub entries -->
                                @if(item.type === 'menu') {
                                <div class="card entries-card">
                                    <div class="card-block" dndDropzone
                                        (dndDrop)="onDrop($event, item.entries, 'menu')">
                                        @if(item.entries.length == 0) {
                                        <p cds-text="body">No entries in this menu</p>
                                        }
                                        <div class="card" dndPlaceholderRef></div>

                                        <div class="card card-list-entries" (click)="selectSecEntry(entry)"
                                            *ngFor="let entry of item.entries; let i=index" [dndDraggable]="entry"
                                            dndEffectAllowed="move" (dndMoved)="onDragged(entry,'menu',item.entries)">

                                            <div class="card-block">
                                                <div class="flex justify-between">
                                                    <cds-icon shape="drag-handle" size="md"></cds-icon>
                                                    <form clrForm clrLayout="horizontal" style="padding: 0">
                                                        <clr-input-container class="form-control-entry">
                                                            <label>Name</label>
                                                            <input clrInput value="{{entry.name}}"
                                                                (input)="setSecEntryName($event)" />
                                                        </clr-input-container>
                                                    </form>
                                                    <button class="btn btn-sm btn-icon"
                                                        (click)="deleteSecMenuEntry(item.entries, i)">
                                                        <cds-icon shape="eraser"></cds-icon>
                                                    </button>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                                }

                            </div>
                        </div>
                    </div>
                </div>
                }
            </div>
        </div>
    </div>

</div>