<div class="header">
    <h1>Feedback Questions</h1>
    <p>Add, Edit, and Delete feedback questions</p>
</div>


<p-card>
    <div class="table-topbar">
        <div class="table-topbar-left">
            <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input type="text" pInputText placeholder="Search question ..." />
            </span>
        </div>

        <div class="table-topbar-right">
            <p-button (click)="addQuestionVisible = true" icon="pi pi-plus" label="Add Question"
                size="small"></p-button>
        </div>
    </div>


    <div class="table">
        <p-table [value]="questions" styleClass="p-datatable-striped p-datatable-sm"
            [tableStyle]="{ 'min-width': '40rem' }">
            <ng-template pTemplate="header">
                <tr>
                    <th>Question</th>
                    <th style="text-align: center;">Type</th>
                    <th style="text-align: center;">Actions</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-question>
                <tr>
                    <td>{{ question.question}}</td>
                    <td style="text-align: center;">
                        <p-tag value={{question.type}} [rounded]="true" />
                    </td>
                    <td style="display: flex; justify-content: center;">
                        <p-button label="Edit" icon="pi pi-pen-to-square" severity="info" size="small" />
                        <span style="display: inline-block; width: 10px;"></span>
                        <p-button label="Delete" icon="pi pi-trash" severity="danger" size="small" />
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</p-card>