.main-container {
    display: flex;
    height: 100%;
    width: 100%;
}

.navbar-container {
    display: flex;
    justify-content: center;
    height: 100%;
    background-color: #f4f5f8;
    overflow: auto;
    border-right: 1px solid #cbd0dd;
}

.college-name {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 210px;
    margin-left: 2%;
}

.page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.comploader-container {
    padding: 20px;
    overflow-y: auto;
    flex-grow: 1;
    background-color: #eef1f9;
}

@media screen and (max-width: 992px) {
    .user-name {
        display: none;
    }
}