<clr-main-container>
    <clr-header>
        <div class="branding">
            <a href="javascript:void(0)">
                <cds-icon shape="vm-bug"></cds-icon>
                <span class="title">Uniwings Cloud</span>
            </a>
        </div>
        <div class="header-nav" [clr-nav-level]="2">
            @for(nav of priNav; track $index) {
            <a routerLink={{nav.route}} class="nav-link nav-text">{{nav.name}}</a>
            }
            @if(iid==="admin" && activeInstitutionName !== "")
            {
            <div class="border-x border-gray-500 h-[50px]"></div>
            <p class="text-slate-400 ml-4">Connection: <span class="text-zinc-300"> {{activeInstitutionName}}</span></p>
            <button class="ml-4 btn btn-sm" (click)="disconnectInstitution()">Disconnect</button>
            }
        </div>
        <div class="settings">
            <clr-dropdown>
                <button class="nav-icon" clrDropdownTrigger>
                    <cds-icon style="color: white" shape="user"></cds-icon>
                    <p cds-text="" class="user-name" style="color: white">{{userFullname}}</p>
                    <cds-icon style="color: white" shape="angle" direction="down"></cds-icon>
                </button>
                <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
                    <a href="#" clrDropdownItem>Profile</a>
                    <a href="#" clrDropdownItem>Settings</a>
                    <a href="#" clrDropdownItem>About</a>
                    <div style="border-bottom: 1px solid gray; margin: 8px 0;"></div>
                    <a (click)="logoutUser()" clrDropdownItem>Log out</a>
                </clr-dropdown-menu>
            </clr-dropdown>
        </div>
    </clr-header>

    <router-outlet></router-outlet>

</clr-main-container>