.navbar {
    width: 100%;
}

.brand-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px 0;
}

.erp-name h1 {
    font-size: 2em;
    font-weight: 500;
    color: #5b47fb;
    margin: 0;
}

.erp-name p {
    color: rgb(38, 32, 145);
    font-size: 0.9em;
    margin: 2px 0 0;
}

.name-container {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.name-container hr {
    width: 100%;
}

.name-container>div {
    margin: 0 15%;
}

.sign-out {
    display: flex;
    align-items: center;
}

.sign-out a {
    margin-left: 6px;
    font-size: 0.9em;
    text-decoration: underline;
    cursor: pointer;
    color: blue;
}

.entry-container {
    display: flex;
    flex-direction: column;
    align-items: right;
    margin-top: 25px;
}

.entry {
    display: flex;
    align-items: center;
    height: 40px;
    border-bottom: 1px solid #cdd4e0;
}

.menu-top-entry {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
}

.menu-entry {
    display: flex;
    align-items: center;
    height: 30px;
    padding-left: 20px;
    border-left: 2px solid #c3c6ca;
}

.menu-top-entry:hover {
    cursor: pointer;
    color: #5b47fb;
}

.menu-entry:hover {
    cursor: pointer;
    color: #5b47fb;
}

.entry:hover {
    cursor: pointer;
    color: #5b47fb;
}

.dropdown-container {
    font-size: 0.92em;
}

.dropdown-container a {
    text-decoration: none;
    color: black;
}