<div class="navbar">
    <div class="brand-container">
        <div>
            <img src="assets/kitcoek_logo.png" width="75" height="75">
        </div>
        <div class="erp-name">
            <h1>KITCoEK</h1>
            <p>Internal ERP System</p>
        </div>

    </div>

    <div class="name-container">
        <hr>
        <div>
            <p style="margin:5px 0; font-size: 20px;">Sunil Bilur</p>
        </div>
        <div class="sign-out" style="display: flex; align-items: center;">
            <i class="pi pi-sign-out"></i>
            <a (click)="logoutUser()">Sign Out</a>
        </div>
        <hr style="margin-top: 15px;">
    </div>

    <div class="entry-container">
        @for(nav of navData; track $index)
        {
            @if(nav.type == "entry")
            {
                <div class="entry" routerLink={{nav.route}}>
                    {{nav.name}}
                </div>
            }@else {
                <div (click)="toggleDropdown(nav.id);" class="menu-top-entry">
                    <p>{{nav.name}}</p>
                    <i class="pi pi-angle-down"></i>
                </div>
                <div class="dropdown-container" [hidden]="dropdownShow[nav.id]===false?false: true">
                    @for(item of nav.entries; track $index)
                    {
                        <a routerLink={{item.route}}><div class="menu-entry" >{{item.name}}</div></a>
                    }
                </div>
            }
        }
    </div>
</div>