/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}