<app-datagrid title="Feedback Schedule">
    <div class="header-controls">
        <button class="btn btn-primary">New Feedback</button>
    </div>

    <div class="table-body">
        <clr-datagrid>
            <clr-dg-column>ID</clr-dg-column>
            <clr-dg-column>Question</clr-dg-column>
            <clr-dg-column>Tags</clr-dg-column>

            <clr-dg-row *clrDgItems="let user of users">
                <clr-dg-cell>{{ user.id }}</clr-dg-cell>
                <clr-dg-cell>{{ user.name }}</clr-dg-cell>
                <clr-dg-cell>{{ user.creation }}</clr-dg-cell>
            </clr-dg-row>

            <clr-dg-footer>
                <clr-dg-pagination #pagination [clrDgPageSize]="10">
                    <clr-dg-page-size [clrPageSizeOptions]="[10, 20, 50, 100]">Users per page</clr-dg-page-size>
                    {{ pagination.firstItem + 1 }} - {{ pagination.lastItem + 1 }} of
                    {{ pagination.totalItems }} users
                </clr-dg-pagination>
            </clr-dg-footer>
        </clr-datagrid>
    </div>
</app-datagrid>