<div class="content-container h-[92vh]">
    <clr-vertical-nav [clr-nav-level]="1">
        <div class="flex justify-center items-center">
            <img src="assets/login/{{iid}}/logo.png" width="60" height="60">
            <div class="ml-2">
                @if(iid==="admin") {
                <p cds-text="headline medium">Uniwings</p>
                <hr style="margin: 8px 0;">
                <p cds-text="secondary regular">Management Portal</p>
                }@else {
                <p cds-text="headline medium">{{shortname}}</p>
                <hr style="margin: 8px 0;">
                <p cds-text="secondary regular">Internal ERP System</p>
                }
            </div>
        </div>

        @for(nav of secNav; track $index)
        {
        @if(nav.type == "entry")
        {
        <a clrVerticalNavLink routerLinkActive="active" routerLink={{nav.route}}>
            <cds-icon shape={{nav.icon}} clrVerticalNavIcon></cds-icon>
            {{nav.name}}
        </a>
        }@else {
        <clr-vertical-nav-group routerLinkActive="active">
            <cds-icon shape={{nav.icon}} clrVerticalNavIcon></cds-icon>
            {{nav.name}}
            <clr-vertical-nav-group-children>
                @for(item of nav.entries; track $index)
                {
                <a clrVerticalNavLink routerLink={{item.route}} routerLinkActive="active">{{item.name}}</a>
                }
            </clr-vertical-nav-group-children>
        </clr-vertical-nav-group>
        }
        }
        <div class="nav-divider"></div>
        <a clrVerticalNavLink routerLink="/app/about" routerLinkActive="active">About</a>

    </clr-vertical-nav>

    <div class="content-area">
        <router-outlet></router-outlet>
    </div>

</div>